<!DOCTYPE html>
<html lang="en">
  <head>
    <title>N o t h i n g H e r e (but me)</title>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116060705-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-116060705-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A little experiment in storytelling.">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@gjtorikian">
    <meta name="twitter:title" content="N o t h i n g H e r e (but me)">
    <meta name="twitter:description" content="A vanishing story.">
    <meta name="twitter:creator" content="@gjtorikian">
    <meta name="twitter:image" content="https://nothingherebut.me/assets/images/nothing_here.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="N o t h i n g H e r e (but me)" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://nothingherebut.me/" />
    <meta property="og:image" content="https://nothingherebut.me/assets/images/nothing_here.png" />
    <meta property="og:description" content="A vanishing story." />

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
    <style>
      div.image-holder {
        height: 40px;
        width: 40px;
        position: absolute;
        float: right;
        right: 0;
      }

      div.image-holder img {
        opacity: 0.5;
        position: absolute;
        float: right;
        top: 0;
        right: 0;
      }
      div.image-holder:hover img {
        opacity: 1;
        transition: opacity .5s ease-in-out;
      }
      @media screen and (max-device-width: 825px) {
       .dn-custom { display: none; }
       div.image-holder {
         width: 20px;
         height: 20px;
       }
      }
    </style>
    <script src="/assets/javascripts/scripts.js"></script>
  </head>
  <body>
    <div class="image-holder">
      <a href="https://www.gjtorikian.com/">
        <img src="https://www.gjtorikian.com/assets/images/symbol.png" />
      </a>
    </div>

    <main role="main" class="bg-white">
      <section class="tc pt4">
        <h1 class="mv0 fw3 f6 lh-title avenir"><span class="ttu tracked-mega mt0">Nothing Here</span> (but me)</h1>
      </section>
      <section class="pv5 tc">
        <img id="canvas" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAABQCAYAAACJbMQlAAAABmJLR0QA/wD/AP+gvaeTAAAA3UlEQVR4nO3BgQAAAADDoPlTn+AGVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMA3IH0AAWdcldMAAAAASUVORK5CYII=">
      </section>
      <div class="fl w-third">
        <div class="tc">&nbsp;</div>
      </div>
      <div class="fl w-third">
        <div class="tc">
          <div class="fl w-third">
            <span id="thisTime">&nbsp;</span>
          </div>
          <div class="fl w-third">
            &nbsp;
          </div>
          <div class="fl w-third">
            <span id="nextTime">&nbsp;</span>
          </div>
        </div>
      </div>
      <div class="fl w-third">
        <div class="tc">&nbsp;</div>
      </div>
      <section class="mv0 mh2 pt4 tc courier fw1 f7 silver">
        <p>
          <span id="path">&nbsp;</span>
        </p>
        <p class="mv0">
          This site is an experiment in interactive fiction. It draws on inspiration<br class="dn-custom"/>
          from gamebooks such as <a class="link light-purple" href="https://en.wikipedia.org/wiki/Julio_Cort%C3%A1zar">Julio Cortázar</a>'s "Hopscotch", as well as work by the artist <a class="link light-purple" href="https://en.wikipedia.org/wiki/Robert_Irwin_(artist)">Robert Irwin</a>.<br class="dn-custom"/>
          The text above changes once per hour over the course of a day. It tells four stories, with each piece able to stand on its own.<br class="dn-custom"/>
          Depending on where in the world you view this site, the story you receive every hour is different.
        </p>
        <p class="mv0">
          <a class="link light-purple" href="https://github.com/gjtorikian/nothingherebut.me#nothingherebutme">The source code is available</a><span class="dn-custom">, with further information on how it all works</span>.
        </p>
      </section>
    </main>
  </body>
</html>
