<!DOCTYPE html>
<html lang="en">
  <head>
    <title>N o t h i n g H e r e (but me)</title>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116060705-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-116060705-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A little experiment in storytelling.">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@gjtorikian">
    <meta name="twitter:title" content="N o t h i n g H e r e (but me)">
    <meta name="twitter:description" content="A little experiment in storytelling.">
    <meta name="twitter:creator" content="@gjtorikian">
    <!-- Twitter Summary card images must be at least 120x120px
    <meta name="twitter:image" content="http://www.example.com/image.jpg">-->

    <!-- Open Graph data -->
    <meta property="og:title" content="N o t h i n g H e r e (but me)" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://nothingherebut.me/" />
    <!--<meta property="og:image" content="http://example.com/image.jpg" />-->
    <meta property="og:description" content="A little experiment in storytelling." />

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
    <style>
    @media screen and (max-device-width: 825px) {
     .dn-custom { display: none; }
    }
    </style>
    <script src="/assets/javascripts/scripts.js"></script>
  </head>
  <body>
    <main role="main" class="bg-white">
      <section class="tc pt4">
        <h1 class="mv0 fw3 f6 lh-title avenir"><span class="ttu tracked-mega mt0">Nothing Here</span> (but me)</h1>
      </section>
      <section class="pv5 tc">
        <img id="canvas" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAACCCAYAAADWmnkBAAAABmJLR0QA/wD/AP+gvaeTAAABWUlEQVR4nO3BMQEAAADCoPVPbQsvoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADgaRTNAAGoOIxnAAAAAElFTkSuQmCC">
      </section>
      <div class="fl w-third pa2">
        <div class="tc pv4">&nbsp;</div>
      </div>
      <div class="fl w-third pa2">
        <div class="tc pv4">
          <div class="fl w-third pa2">
            <span id="thisTime">&nbsp;</span>
          </div>
          <div class="fl w-third pa2">
            &nbsp;
          </div>
          <div class="fl w-third pa2">
            <span id="nextTime">&nbsp;</span>
          </div>
        </div>
      </div>
      <div class="fl w-third pa2">
        <div class="tc pv4">&nbsp;</div>
      </div>
      <section class="mv0 mh2 tc courier fw1 f7 silver">
        <p class="mv0">
          This site is an experiment in interactive fiction. It draws on inspiration from<br class="dn-custom"/>
          <a class="link light-purple" href="https://en.wikipedia.org/wiki/Augusto_Monterroso">Augusto Monterroso</a>'s "The Dinosaur" and <a class="link light-purple" href="https://en.wikipedia.org/wiki/Julio_Cort%C3%A1zar">Julio Cortázar</a>'s "Hopscotch", as well as <a class="link light-purple" href="https://en.wikipedia.org/wiki/Robert_Irwin_(artist)">Robert Irwin</a>.<br class="dn-custom"/>
          The text below changes once per hour over the course of a day. It tells a story, with each piece able to stand on its own.<br class="dn-custom"/>
          Depending on where in the world you view this site, the story you receive every hour is different.
        </p>
        <p class="mv0">
          <a class="link light-purple" href="https://github.com/gjtorikian/nothingherebut.me">The source code is available</a><span class="dn-custom">, with further information on how it all works</span>.
        </p>
      </section>
    </main>
  </body>
</html>
