<html>
  <head>
    <title>Nothing Here (but me)</title>
    <link rel="stylesheet" href="/assets/css/app.css"/>
    <script src="/assets/javascripts/scripts.js"></script>
  </head>
  <body>
    <main class="wrapper">
      <section class="container">
        <h1>Nothing Here (but me)</h1>
        <p>
          This site is an experiment in interactive fiction. It draws on inspiration from<br/>
          <a href="https://en.wikipedia.org/wiki/Augusto_Monterroso">Augusto Monterroso</a>'s "The Dinosaur" and <a href="https://en.wikipedia.org/wiki/Julio_Cort%C3%A1zar">Julio Cortázar</a>'s "Hopscotch", as well as <a href="https://en.wikipedia.org/wiki/Robert_Irwin_(artist)">Robert Irwin</a>.<br/>
          The text below changes once per hour over the course of a day. It tells a story, with each piece able to stand on its own.<br/>
          But depending on where in the world you view this site, the story you receive every hour is different. <br/>
          <a href="https://github.com/gjtorikian/nothingherebut.me">Learn more about how it works</a>.
        </p>
        <img id="canvas"/>
        <section class="container">
          <section class="row">
            <section class="column">
              <p id="thisTime"></p>
            </section>
            <section class="column">
              <p id="nextTime"></p>
            </section>
          </section>
        </section>
      </section>
    </main>
  </body>
</html>
